.containershop {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}
.card {
  border: 1px solid red;
  height: 250px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.imagecontainer {
  height: 50%;
  width: 100%;
}

.imagecard {
  height: 100%;
  width: 100%;
}
.titlecard {
  height: 40px;
}
.bottomcard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
