.catnipItem-article {
  --primary: #065143;
  --secondary: #70b77e;
  --third: #ff934f;
  --white: white;
  --font: "Quicksand";
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  align-items: center;
  padding: 1rem;
}
.catnipItem-title {
  padding: 2rem;
  padding-top: 4rem;
}

.arrow-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
}

.arrow-container button {
  background-color: #ff934f;
  width: 40px;
}

.arrow-container button > img {
  width: 40px;
  height: 40px;
}

.catnipItem-image {
  width: auto;
  height: 40vh;
  border-radius: 15px;
}

.catnipItem-description ul {
  list-style: none;
  padding: 0;
}

.catnipItem-description li {
  padding: 0.5rem;
}

.catnipItem-information {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: x-large;
}

.catnipItem-button {
  font-family: var(--font);
  margin: 2rem;
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
  background-color: #065143;
  border-style: none;
  box-shadow: 1px 1px 15px #70b77e;
}
