.navbar-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  height: 3rem;
  box-shadow: 0 0 5px black;
  position: fixed;
  width: 100vw;
  box-shadow: 0 0 25px 2px black;
}
.cat-logo {
  position: relative;
  width: 3rem;
  justify-self: flex-start;
  right: 4%;
  top: 5%;
}
.link-cont {
  font: bolder var(--font);
  color: var(--third);
  width: 35vh;
  -webkit-text-stroke: 1px rgba(22, 21, 21, 0);
  font-weight: 900;
  text-shadow: 0 0 5px black;
}
.logo-cont {
  background-color: var(--primary);
  height: calc(100% + 1rem);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  width: 6rem;
  align-self: flex-start;
  box-shadow: 0 0 5px black;
}
.link-nav {
  text-decoration: none;
  color: var(--font);
  -webkit-text-stroke: 1px rgba(22, 21, 21, 0);
  font-weight: 900;
  text-shadow: 0 0 5px black;
}
