.recipe-font {
  margin-top: 4.5rem;
}
.recipe-cont {
  background-color: white;
  min-height: 10rem;
  margin: 0.5rem;
  padding-top: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px black;
  align-items: center;
  height: 85vh;
  overflow-x: scroll;
  font-family: var(--font);
}
.recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px black;
  min-width: 15rem;
  height: 15vh;
  left: 2.5%;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary);
}
.recipes-slider {
  display: flex;
  overflow-y: scroll;
  padding: 10px;
}
.recipe-slider-title {
  margin: 0;
  text-align: start;
  margin-left: 1rem;
  z-index: 100;
}
.image-de-plat-cont {
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 90vw;
  height: 80%;
}
.image-de-plat {
  max-width: 100%;
  width: 55vh;
  z-index: 9;
  position: absolute;
  left: 0;
  top: -80%;
}
.recipe-title {
  padding-top: 0.75rem;
  z-index: 10;
  height: 20%;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
  width: 100%;
  box-shadow: inset 0 20px 20px -20px black;
  text-decoration: none;
}
