.Card-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 1rem;
  border: solid var(--primary);
  border-radius: 12px;
  margin-top: 4rem;
}

.Card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;
  border-radius: 10px 10px 0 0;
  height: 4rem;
  padding: 2rem 0rem 3rem 0rem;
}

.Card-image {
  height: 15rem;
  border: 0;
}

.Card-ingredient-title{
  border-top: solid var(--third) 0.2rem;
  margin: 0;
  padding: 1rem;
}

.Card-ingredient {
  padding: 0 2rem 0 2rem;
  list-style: none;
}

.Card-preparation {
  padding: 0 2rem 0 2rem;
  list-style: circle;
}

.Card-preparation > li {
  padding: 0.5rem;
}

.comment-tile {
  padding: 3rem;
}
